@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.header-contacts
		font-size: 12px
	.welcome
		p
			span
				font-size: 18px
	.carousel-work-item
		flex-direction: column

	.s
		&-review, &-partners
			padding: 8% 0
		&-call
			background-size: cover

	.change
		height: 540px
		.bk
			height: 540px
			.button2
				top: 80%
		.ak
			height: 540px
			.button1
				top: 80%


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.welcome
		.h1
			font-size: 50px
		p
			span
				font-size: 12px
		strong
			font-size: 14px

	.s-call
		&::before
			width: 50%
		.callback
			padding: 12% 0

	.footer-addr
		margin-bottom: 15px
		.footer-phone
			font-size: 24px
			padding-top: 0
			.fa
				top: 9px

	.change
		height: 600px
		.bk
			height: 600px
			.button2
				top: 80%
		.ak
			height: 600px
			.button1
				top: 80%
	.yes
		.ye1
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				width: 20%
				margin-left: 20%
				padding-top: 20px
			.button5
				margin-top: 55px
		.ye2
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				width: 30%
				margin-left: 20%

			.button6
				margin-top: 55px
		.ye3
			height: 300px
			p
				padding-top: 60px
			img
				width: 40%
				margin-left: 10%
				padding-top: 35px
			.button7
				margin-top: 55px
		.ye4
			height: 300px
			p
				padding-top: 60px
			img
				width: 40%
				margin-left: 10%
			.button8
				margin-top: 55px
		.ye5
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				width: 30%
				margin-left: 10%
			.button9
				margin-top: 50px
		.ye6
			height: 300px
			p
				padding-top: 50px
			img
				width: 30%
				margin-left: 10%
				padding-top: 20px
			h1
				line-height: 30px
			.button10
				margin-top: 75px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-contacts
		.phone-h
			text-align: left

	.quotes
		display: none

	.partners
		.owl-nav
			> div
				&.owl-prev
					left: 0
				&.owl-next
					right: 0

	.s-partners
		.h2
			margin: 0

	.social-footer
		margin-top: 0
		.soc li a
			margin-top: 0

	.footer-menu
		padding-left: 20px

	.change
		height: 760px
		.bk
			height: 760px
			.button2
				top: 85%
				left: 22%
		.ak
			height: 760px
			.button1
				top: 85%
				left: 22%
	.yes
		.ye1
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button5
				margin-top: 55px
		.ye2
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button6
				margin-top: 55px
		.ye3
			height: 300px
			p
				padding-top: 60px
			img
				display: none
			.button7
				margin-top: 55px
		.ye4
			height: 300px
			p
				padding-top: 60px
			img
				display: none
			.button8
				margin-top: 55px
		.ye5
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button9
				margin-top: 50px
		.ye6
			height: 300px
			p
				padding-top: 50px
			img
				display: none
			h1
				line-height: 30px
			.button10
				margin-top: 75px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.welcome
		.h1
			font-size: 34px
			margin-top: 5px
		p
			span
				font-size: 10px
	.s-call
		&::before
			width: 100%
		.callback
			padding: 12% 0

	.change
		height: 1140px
		.bk
			height: 520px
			.button2
				top: 80%
		.ak
			height: 620px
			.button1
				top: 84%

	.welcome2
		p
			font-size: 12px
		h1
			font-size: 12px

	.yes
		.ye1
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button5
				margin-top: 55px
		.ye2
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button6
				margin-top: 55px
		.ye3
			height: 300px
			p
				padding-top: 60px
			img
				display: none
			.button7
				margin-top: 55px
		.ye4
			height: 300px
			p
				padding-top: 60px
			img
				display: none
			.button8
				margin-top: 55px
		.ye5
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button9
				margin-top: 50px
		.ye6
			height: 300px
			p
				padding-top: 50px
			img
				display: none
			.button10
				margin-top: 75px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.welcome
		.h1
			font-size: 20px
			margin-top: 8px
		p
			span
				font-size: 7px
	.t-b
		width: 95%
		font-size: 0.5em
		margin-right: 50%
		padding: 15px
	.s-call
		&::before
			width: 100%
		.callback
			padding: 12% 0

	.header-composition
		p
			font-size: 10px

	.change
		p
			font-size: 13px
	.header-composition
		.button
			margin-top: 100px
	.yes
		.ye1
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button5
				margin-top: 55px
		.ye2
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button6
				margin-top: 55px
		.ye3
			height: 300px
			p
				padding-top: 60px
			img
				display: none
			.button7
				margin-top: 55px
		.ye4
			height: 300px
			p
				padding-top: 60px
			img
				display: none
			.button8
				margin-top: 55px
		.ye5
			height: 300px
			p
				padding-top: 60px
			h1
				line-height: 30px
			img
				display: none
			.button9
				margin-top: 50px
		.ye6
			height: 300px
			p
				padding-top: 50px
			img
				display: none
			.button10
				margin-top: 75px
	.ckok
		.hav1
			height: 300px
			img
				display: none
			p
				margin-top: 30px
			h1
				font-style: 20px
		.hav2
			height: 300px
			img
				display: none
			p
				padding-top: 30px
			h1
				font-style: 20px
		.hav3
			height: 300px
			img
				display: none
			p
				padding-top: 30px
			h1
				font-style: 20px !important
		.hav4
			height: 300px
			img
				display: none
			p
				padding-top: 40px
			h1
				line-height: 30px
				font-size: 20px
			.button4
				margin-top: 50px








/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
